/* imports */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* variables */
:root {
  /* colors */
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 18%);
  --Dark-grayisch-cyan: hsl(186, 14%, 43%);
  --Dark-graysich-cyan-hover: hsl(184, 14%, 56%);
  --Light-grayisch-cyan: hsl(185, 41%, 84%);
  --Light-grayisch-cyan-hover: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
  /* typography */
  --Main-font: 'Space Mono',monospace;
  --Fs-inputs: 1.6rem;
  --Fw-normal: 400;
  --Fw-bold: 700;
}

/* resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Main-font);
}

/* general styles */

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

input {
  border: none;
  background-color: transparent;
  font-size: var(--Fs-inputs);
  outline: none;
  text-align: end;
  color: var(--Dark-graysich-cyan-hover);
  font-weight: var(--Fw-bold);
  width: 100%;
}

input::placeholder {
  color: var(--Dark-graysich-cyan-hover);
}

/* typography */

h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  color: var(--Dark-grayisch-cyan);
}

h2 {
  font-size: 1.2rem;
  color: var(--Dark-grayisch-cyan);
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
  color: var(--Dark-grayisch-cyan);
}

h4 {
  color: var(--Strong-cyan);
  font-size: 4rem;
}

button {
  cursor: pointer;
  color: white;
  background-color: var(--Very-dark-cyan);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  font-weight: var(--Fw-bold);
  transition: 200ms ease;
}

button:hover {
  background-color: var(--Light-grayisch-cyan);
  color: var(--Very-dark-cyan);
}

.custom-button {
  background-color: var(--Light-grayisch-cyan-hover);
  color: var(--Dark-grayisch-cyan);
  font-size: 1.65rem;
}

.color-white {
  color: var(--White);
}

/* App styles */

header {
  margin-bottom: 2rem;
}

body {
  background-color: var(--Light-grayisch-cyan);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
}

.main-content-container {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--White);
  width: 100%;
  border-radius: 20px;
}

/* info section styles */

.info-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
}

.bill-amount-container {
  margin-bottom: 2.5rem;
  margin-right: 1rem;
}

.bill-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  background-color: var(--Light-grayisch-cyan-hover);
  padding: 1rem;
}

.bill-input-container i {
  font-size: 1.2rem;
  color: var(--Dark-graysich-cyan-hover);
}

.tip-percentage-container {
  margin-bottom: 2.5rem;
}

.percentage-buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.percent-button-active {
  background-color: var(--Light-grayisch-cyan);
}

.percentage-buttons li {
  width: 33%;
  min-width: 130px;
  flex: 1 1 auto;
}

.percentage-buttons li button {
  width: 90%;
  margin: 0 1rem 1rem 0;
}

.people-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  background-color: var(--Light-grayisch-cyan-hover);
  padding: 1rem;
}

.people-input-container i {
  color: var(--Dark-grayisch-cyan);
  font-size: 1.2rem;
}

/* result section styles */

.result-container {
  width: 50%;
  background-color: var(--Very-dark-cyan);
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-amount-container {
  display: flex;
  flex-direction: column;
}

.tip-amount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-amount-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.reset-button {
  text-transform: uppercase;
  background-color: var(--Strong-cyan);
  opacity: 0.4;
  color: var(--Very-dark-cyan);
}

.reset-button:hover {
  background-color: var(--Light-grayisch-cyan);
  opacity: 1;
}

/* App mobile styles */

@media screen and (max-width: 1600px) {
  .app-container {
    width: 80%;
  }
}

@media screen and (max-width: 768px){
  header {
    margin-top: 2rem;
  }

  .main-content-container {
    flex-direction: column;
  }

  .app-container {
    width: 100%;
  }

  .info-container {
    width: 100%;
  }

  .result-container {
    width: 100%;
    padding: 1.5rem;
  }

  h4 {
    font-size: 2.5rem;
  }

  .total-amount-container {
    margin-bottom: 1rem;
  }

  .tip-amount-container {
    margin-bottom: 1rem;
  }

  h2.color-white {
    font-size: 0.9rem;
    margin: 0;
  }
}
